.box-menu{
  position: absolute;
  width: 300px;
  z-index: 10;
  height: 100%;
  background-color: white;
  padding: 1em;
  overflow: visible;
  display: flex;
  flex-direction: column;
  left: -300px;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.toggle-menu{
  position: absolute;
  right: -50px;
  background: white;
  width: 50px;
  height: 50px;
  top: 0px;
  cursor: pointer;
  -moz-box-shadow: 2px 2px 5px -2px #656565;
  -webkit-box-shadow: 2px 2px 5px -2px #656565;
  -o-box-shadow: 2px 2px 5px -2px #656565;
  box-shadow: 2px 2px 5px -2px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.ui.steps{
  cursor: pointer;
}

@media only screen and (max-width:767px){
  .ui.first.modal .description{
    max-height: 450px;
    overflow-y: auto;
  }
}

.box-menu .fields{
  overflow-x: auto;
  min-height: 310px;
}

.list-container {
    overflow: auto;
    max-height: 200px;
}

.ui.modal{
  top: 8% !important;
}

.map-container{
  position: relative;
}

h7{
  font-weight: bold;
}

.map, #map{
  z-index: 1;
}

.ui.tiny.progress{
  border: none;
  background: none;
  margin: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0px;
}

.ui.progress:first-child {
  margin: 0 !important;
}

.ui.collapsing.celled.table{
  width: 100%;
}
.ui.collapsing.selectable.celled.table tr:hover td{
  background-color: #eee;
}
.ui.collapsing.selectable.celled.table tr{
  cursor: pointer;
}

.ui.container{
  overflow: hidden;
}

.list-container{
  overflow: auto;
}

.leaflet-top.leaflet-right{
  top: 90px !important;
}

.question-icon{
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 4;
  background: white;
  width: 50px;
  height: 50px;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.question.circle{
  font-size: 2.5em;
  margin-top: 6px;
  margin-left: 2px;
  color: #2166a6;
}

.top-menu{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50px;
  z-index: 3;
}

.top-menu .ui.secondary.menu{
  width: 265px;
  margin: auto !important;
  background: white !important;
  padding: 5px;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.legend {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  z-index: 2;
  background: #f0f0f0cc;
}
.legend > div{
  display: inline-block;
  border-left: 1px solid #8080807d;
  border-right: 1px solid #8080807d;
  padding: 0.2em 0.2em;
}
.legend b{
  margin: 0 5px;
}
.legend i{
  margin-right: 5px;
  font-size: 0.7em;
  display: block;
}

.legend .bon { background-color: #52efe6; width: 10px; height: 10px; border-radius: 5px; display: inline-block; }
.legend .moyen { background-color: #50ccaa; width: 10px; height: 10px; border-radius: 5px; display: inline-block; }
.legend .degrade { background-color: #efe641; width: 10px; height: 10px; border-radius: 5px; display: inline-block; }
.legend .mauvais { background-color: #ff4f4f; width: 10px; height: 10px; border-radius: 5px; display: inline-block; }
.legend .tres_mauvais { background-color: #980033; width: 10px; height: 10px; border-radius: 5px; display: inline-block; }
.bon { color: #52efe6; }
.moyen { color: #50ccaa; }
.degrade { color: #efe641; }
.mauvais { color: #ff4f4f; }
.tres_mauvais { color: #980033; }


.list i{ font-size: 0.8em; }
.list td.value{ width: 90px; }
.city{ font-size: 0.8em; }

body {
  padding: 0;
  margin: 0;
}
html, body, .ui.container, .maps, .map-container {
  height: 100%;
  width: 100%;
}
 #map{
   height: 100%;
   width: 100%;
 }
.ui.secondary.menu .item.active{
  border: 1px solid white !important;
  background: #2166a6 !important;
  color: white;
}

.ui.secondary.menu .item{
  border: 1px solid white !important;
  background: #2166a60a !important;
}

.ui.secondary.menu .item:hover{
  background: #2166a6 !important;
  color: white;
  border: 1px solid #333 !important;
}

.search.icon{
  color: rgb(49, 169, 105);
  opacity: 1;
}

.title-head{
  position: absolute;
  z-index: 2;
  background: #ffffffa8;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 64px;
  padding-right: 119px;
  display: table;
}
.title-head span{
 display: table-cell;
 vertical-align: middle;
 line-height: normal;
}
.agir{
  position: absolute;
  z-index: 2;
  background: #ff9800ab;
  height: 50px;
  bottom: 37px;
  left: 0px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
  font-weight: bold;
  padding: 20px;
  padding-top: 14px;
  font-size: 1.3em;
}
.agir a, .agir a:hover{ color: white; }
.logo{
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 50px;
  background: white;
  height: 50px;
}
.logo img {
  height: 50px;
}

.popup-flex{
  width:250px;
  display: flex;
}
.popup-flex table{
  margin-left: 2em !important;
}

.header-text{
  width: inherit !important;
}

.logo img{
  max-height: 110px;
}

.baseline{
  vertical-align: top;
  display: inline-block;
  padding-top: 30px;
}

.search .ui.icon.input{
  width: 300px;
  max-width: 100%;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    color: #000;
}

* {
  margin: 0;
  padding: 0;
}

#nav-icon.in-popup{
  position: inherit;
  display: inline-block;
}

#nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 3px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2166a6;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 7px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon span:nth-child(4) {
  top: 29px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
